<nav>
    <div class="nav-wrapper #00b8d4 cyan accent-4">
      <a  class="brand-logo logo-container">
        <img src="assets/images/logo.jfif" class="responsive-img materialboxed  logo-img" style="border: skyblue solid;">    
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        <li><a  routerLink="">Acceuil</a></li>
        <li><a routerLink="voitures">Voitures</a></li>
        <li><a routerLink="maReservation">Ma reservation</a></li>
        <li><a routerLink="login">Se connecter</a></li>
        <li class="tab disabled"><a routerLink="signup">S'inscrire</a></li>
      </ul>
    

    </div>
  </nav>
  <!-- <a href="#" data-target="slide-out" class="sidenav-trigger show-on-medium-and-down cc"><i class="material-icons">menu</i></a>

  <ul id="slide-out" class="sidenav">
    <li><a routerLink="">Accueil</a></li>
    <li><a routerLink="">Voitures</a></li>
    <li><a routerLink="login">Se connecter</a></li>
    <li><a routerLink="signup">S'inscrire</a></li>
  </ul> -->