<div *ngIf="voitureSelected" class=" row  " >
    <div class="col s12 m8 offset-m2">
      <h2 class="header center">Détail de la reservation</h2>
    </div>
    <div class="col s12 m6 offset-m1 ">
       <!-- <h5 class="header center">detail de voiture</h5> -->
      <div class="card horizontal  ">
       
        <div class="card-image ">
          <img [src]="voitureSelected.imageUrl">
          <h3>{{voitureSelected.price }} DH</h3>
        </div>
        
        <div class="card-stacked">
          <div class="card-content">
            <table class="bordered striped">
              <tbody>
                <tr>
                  <td>Nom</td>
                  <td><strong>{{ voitureSelected.name }}</strong></td>
                </tr>
                <tr>
                  <td>type</td>
                  <td><strong>{{ voitureSelected.type }}</strong></td>
                </tr>
                <tr>
                  <td>Nombre de place </td>
                  <td><strong>{{ voitureSelected.numberOfSeats }}</strong></td>
                </tr>
                <tr>
                  <td>Nombre de sacs</td>
                  <td><strong>{{ voitureSelected.numberOfBags }}</strong></td>
                  
                </tr>
                <tr>
                  <td>Type de carburant</td>
                  <td><em>{{ voitureSelected.carburant  }}</em></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- <div class="card-action">
            <a  (click)="goToVouitureList()">choisir une autre voiture </a>
          </div> -->
          
        </div>

        
        
      </div>
      
    </div>
   

    <div class="form-group col s12 m4 card hoverable">
      <h5 class="header center">Veuillez saisir les dates de la réservation</h5>
      <form>

        <div class="form-group">
          <label for="startDate">Date de début :</label>
          <input type="date" class="form-control" id="startDate" [(ngModel)]="startDate" name="startDate" [min]="minStartDate"
            required #startDateInput="ngModel" [ngClass]="{ 'is-invalid': startDateInput.invalid && (startDateInput.dirty || startDateInput.touched) }">
          <div *ngIf="startDateInput.invalid && (startDateInput.dirty || startDateInput.touched || endDateInput.touched)" class="invalid-feedback">
            La date de début est requise et doit être supérieure ou égale à la date d'aujourd'hui.
          </div>
        </div>
        <div class="form-group">
          <label for="endDate">Date de fin :</label>
          <input type="date" class="form-control" id="endDate" [(ngModel)]="endDate" name="endDate" [min]="startDate"
            required #endDateInput="ngModel" [ngClass]="{ 'is-invalid': endDateInput.invalid && (endDateInput.dirty || endDateInput.touched) }">
          <div *ngIf="endDateInput.invalid && (endDateInput.dirty || endDateInput.touched)" class="invalid-feedback">
            La date de fin est requise et doit être supérieure à la date de début.
          </div>
          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="submit()">Confirmer</button>
      </form>
    </div>
    
 
    
</div>

  <h4 *ngIf='!voitureSelected' class="center">
   <app-loader></app-loader>
  </h4>
  

<style>
  .invalid-feedback {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
</style>